<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="refresh" content="10">
<title>Home Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
			<form th:action="@{/delete}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="delete"
				type="Submit">Delete My Profile</button>
		</form>
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-info btn-block" name="registration"
				type="Submit">Logout</button>
		</form>
				<form th:action="@{/edit}" method="get">
			<button class="btn btn-md  btn-block" name="edit"
				type="Submit">Edit My Information</button>
		</form>
	

		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${Welcome}"></span>
				</div>
				<div class="panel-body">
					<img th:src="@{/images/beer.jpg}"
						class="img-responsive center-block" width="400" height="400"
						alt="Beer" />
				</div>
				
								<div class="panel-heading"  style="text-align: center;">
                <span style="solid white;font-size: xx-large"> Your Purchases</span>
            </div>
				<div class="panel-body">
					<div class="table-responsive">

						<table class="table">
							<thead>
							<tr>
								<th>Stock Symbol</th>
								<th>Current Price</th>
								<th>Locked Price</th>
								<th>Investment</th>
								<th>% Change</th>
								<th>Profit/loss</th>
								<th>Withdraw Amount</th>
							</tr>
							</thead>
							<tbody>
							 <tr th:if="${userStockList.empty}">
            					<td colspan="2"> You have'nt purchased anything yet</td>
        					</tr>
							<tr th:each="userStock, iStat: ${userStockList}"
								th:style="${iStat.odd}? 'font-weight: bold;'"
								th:alt-title="${iStat.even}? 'odd' : 'even'">
								
								<td th:text="${userStock.stockSymbol}" />
								<td th:text="${userStock.currentPrice}" />
								<td th:text="${userStock.lockedPrice}" />
								<td th:text="${userStock.investment}" />
								<td th:text="${userStock.change}" />
								<td th:text="${userStock.earning}" />
								<td th:text="${userStock.income}" />
							
								<td>
									<button type="button" class="btn btn-primary"
										th:onclick="|removeStock('${username}','${userStock.userStockId}')|">Withdraw</button>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel-heading"  style="text-align: center;">
                <span style="solid white;font-size: xx-large"> Current Market</span>
            </div>
				<div class="panel-body">
					<div class="table-responsive">

						<table class="table">
							<thead>
							<tr>
								<th>Stock Symbol</th>
								<th>Previous Close</th>
								<th>Price</th>
								<th>Low</th>
								<th>High</th>
								<th>Volume</th>
								<th>52 WK Low</th>
								<th>52 WK High</th>
								<th>Open Price</th>
								<!-- <th>PE</th>
								<th>EPS</th> -->
								<!-- <th>Purchase</th> -->
								<!-- <th>Action</th> -->
							</tr>
							</thead>
							<tbody>
							 <tr th:if="${stockList.empty}">
            					<td colspan="2"> No Stocks Available </td>
        					</tr>
							<tr th:each="stock, iStat: ${stockList}"
								th:style="${iStat.odd}? 'font-weight: bold;'"
								th:alt-title="${iStat.even}? 'odd' : 'even'">
								<td th:text="${stock.stockSymbol}" />
								<td th:text="${stock.prevClose}" />
								<td th:text="${stock.price}" />
								<td th:text="${stock.low}" />
								<td th:text="${stock.high}" />
								<td th:text="${stock.volume}" />
								<td th:text="${stock.wkLow}" />
								<td th:text="${stock.wkHigh}" />
								<td th:text="${stock.openPrice}" />
								<!-- <td th:text="stock.pe" />
								<td th:text="stock.eps" />
 -->
								<td>
									<button type="button" class="btn btn-primary"
										th:onclick="|purchase('${stock.stockSymbol}', '${stock.price}','${stock.stockSymbol}')|">Purchase</button>
								</td>
								<td>
									<button type="button" th:onclick="${'window.location.href=''/stock/todaysHistory?stockSymbol=' + stock.stockSymbol + ''''}"
									 class="btn btn-primary" >Today's History</button>
								</td>
								<td>
									<button type="button" th:onclick="${'window.location.href=''/stock/weeksHistory?stockSymbol=' + stock.stockSymbol + ''''}"
									 class="btn btn-primary" >Week's History</button>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	

	var Clock = {
			  totalSeconds: 0,

			  start: function () {
			    var self = this;

			    this.interval = setInterval(function () {
			      self.totalSeconds += 1;
			   location.reload();
 				console.log("tick tock");
			    }, 1000);
			  },

			  pause: function () {
			    clearInterval(this.interval);
			    delete this.interval;
			  },

			  resume: function () {
			    if (!this.interval) this.start();
			  }
			};

			Clock.start();

			function pause() {
				console.log("timer paused");
				Clock.pause(); 
				
			}
			function resume() {
				console.log("timer resumed");
				Clock.resume(); 
				
			}
function purchase(stockID, lockedPrice,stockSmbol ){
	pause();
	if (confirm("Are you sure to purchase this stock!")) {
		  var investment ;
		  while(true){
			  investment= prompt("Please enter you amount", "00.00");
		  if(isNaN(investment)){
			  alert("Sorry that was not a number.")
		  }else{
			  break;
		  }
		  }
		  if(investment>0){
			  $.ajax({
			        url: "/user/purchase",
			        method: "POST",
			        data: '{"stockSymbol":"'+stockSmbol+'","investment":'+ investment +',"stockID":"LATEST::'+stockID+'", "lockedPrice": '+lockedPrice+'}',//JSON.stringify(jsonObj),
			        dataType: 'json',
			        contentType: "application/json",
			         success: function(result,status,jqXHR ){
			              alert("Post was succefull with result: "+ result);
			         },
			         error(data, responseText){
			        	 //debugger;
			        	 var a=data.responseText;
			        	 if(a=='done')
			        		 alert("Purchase was successfull.");
			        	 else
				             alert("ajax call was failed with error: "+ data);
			         }
			    }); 
		}else
		  alert("Invalid price: "+ investment);
	} else {
		  console.log("User cancelled purchase");
		}
	
	resume();
}

function removeStock(userName, userStockId){
	pause();
	console.log(", userName: "+userName+", User Stock Id: "+ userStockId);

	  $.ajax({
	        url: "/user/removePurchase?userStockId="+userStockId+"&userName="+userName,
	        method: "GET",
	       // data: '{"stockSymbol":"'+stockSmbol+'","investment":'+ investment +',"stockID":"STOCK::'+stockID+'", "lockedPrice": '+lockedPrice+'}',//JSON.stringify(jsonObj),
	        dataType: 'json',
	        contentType: "application/json",
	         success: function(result,status,jqXHR ){
	              alert("Get was succefull with result: "+ result);
	         },
	         error(data, responseText){
	        	 //debugger;
	        	 var a=data.responseText;
	        	 if(a=='done')
	        		 alert("Withdrawl successful.");
	        	 else
		             alert("ajax call was failed with error: "+ data);
	         }
	    });
	  resume();
}
</script>
</body>
</html>